{% extends 'base.html' %}
{% block title %} IoT Dashboard {% endblock %}

{% block content %}
<meta http-equiv="refresh" content="10">
<div class="container text-center graf-container rounded">
    <h1 class="text-dark site-titles">Graf for kontor</h1>
    <h2 class="text-dark">Battery: {{battery_percentage}}%</h2>
    <h2 class="text-dark">Vindue status: {{window}}</h2>
    <img class="img-fluid mb-4" src='data:image/png;base64,{{kontor_cotwo}}'/>
    <img class="img-fluid float-left mb-4" src='data:image/png;base64,{{kontor_temperature}}'/>
    <img class="img-fluid float-right mb-4" src='data:image/png;base64,{{kontor_humidity}}'/>
</div>

{% endblock %}